# History files
.Rhistory
.Rapp.history
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user
.RData
# Intermediate files
analytics_with_r-intro.md
analytics_with_r-intro-figure
